<% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
<% else %>
    <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', menu_item: order_item.menu_item, order_item: order_item %>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8"> <p> <Strong>Your Total Order is </Strong> </p> </div>
      <div class="col-xs-6 col-md-4"> <p> <Strong> $ <%=current_order.total %> </Strong></p> </div>

    </div>
<% end %>